body
	ul#menu
		li(data-menuanchor="firstPage")
			a(href="#firstPage") First slide
		li(data-menuanchor="secondPage")
			a(href="#secondPage") Second slide
		li(data-menuanchor="thirdPage")
			a(href="#thirdPage") third slide
	.section#section1
		.slide#slide1
			.intro
				h1 Слайд 1
				p Для перехода к следующему слайду, нажмите по одной из кнопок панели навигации
		.slide#slide2
			h1 Слайд 2
			p Для перехода к следующему слайду, нажмите по одной из кнопок панели навигации
		.slide#slide2
			h1 Слайд 3
			p Для перехода к следующему слайду, нажмите по одной из кнопок панели навигации
		.slide#slide2
			h1 Слайд 4
			p Для перехода к следующему слайду, нажмите по одной из кнопок панели навигации
	.section#section2
		.intro
			img(src="img/used-by-fullpage.png")
			h1 Третья страница
			p Hello