body
	ul#menu
		li(data-menuanchor="firstPage")
			a(href="#firstPage") First slide
		li(data-menuanchor="secondPage")
			a(href="#secondPage") Second slide
		li(data-menuanchor="thirdPage")
			a(href="#thirdPage") third slide
	#fullpage
		.section#section1
			.intro
				h1 Первая страница
			.slide
				h1 Cлайд 1
			.slide
				h1 Слайд 2
			.slide
				h1 Слайд 3
		.section#section2
			.intro
				h1 Вторая страница
		.section#section3
			.intro
				img(src="img/user-4.png")
				h1 Третья страница
				p Hello