script(type='text/javascript' src='libs/jquery/dist/jquery.min.js')
script(type="text/javascript" src="libs/fullpage.js/vendors/scrolloverflow.min.js")
script(type='text/javascript' src='libs/fullpage.js/dist/jquery.fullpage.min.js')
script(type='text/javascript' src='libs/jquery-slimscroll/jquery.slimscroll.min.js')
script(type='text/javascript' src='code/main.js')

